/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body{
	height: 100%;
	line-height: 1;
	color: #ffffff;
	background-color: #000000;
	font-family: 'PT Sans Narrow', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#particles-js{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 10;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 25px;
	z-index: 99;
}


header ul li a{
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 40px;
	visibility: hidden;

}

/* Header sticky style */

.fixed{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000000;
	z-index: 99;
}

section{
	padding: 60px 0;
	height: 100%;
	position: relative;

}
/*home secxtions style*/
.home{
	color: #ffffff;
	padding: 0;
	
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	
	background: url(../images/ankush.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #34495e;
	background-attachment: fixed;
	z-index: 99;
}
.home h1{
	font-size: 68px;
	text-transform: uppercase;
text-shadow: 0 15px 20px #000000b0;
		margin-bottom: 0;
		visibility: hidden;



}
.home h5{
	
	background: #000;
	font-size: 18px;
	text-align: center;
	padding: 10px 20px;
	margin: 10px 0 50px;
	display: block;
	letter-spacing: 2px;
	border-radius: 2px;
	visibility: hidden;
}

.section-title{
	text-align: center;
	
	
}
.section-title{
	
	display: inline-block;
	font-size: 38px;
	border-bottom :1px solid;
	text-transform: uppercase;
	padding: 0 0 10px;
	text-align: center;

}
/* about section............. */

.about {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	z-index: 99;
}

.about-info{
	line-height: 28px;
	font-size: 18px;
}

.about-info .downloadbtn{
	display: inline-block;
	padding: 15px 35px;
	background-color: #ffffff10;
	border: 1px solid #ffffff30;
	border-radius: 50px;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 35px;
	position: relative;
	
}

.timeline{
	margin-top: 50px;
	display:flex;

}

.timeline .col{
	margin: 5px;
	padding: 25px 5px;
	border: 1px solid #ffffff30;
	float: left
	;
}
.timeline h6{
	margin: 15px 0 0;
	font-size: 14px;
	line-height: 24px;

}

.service {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	z-index: 99;
	text-align: center;
}
.service .service-info{
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
	align-items: center;

}
.service .col{
	width: 50%;
}
.service .col img{
	max-width: 58px;
}
.service .col h3{
	margin-top: 15px;
	font-size:30px; 
	padding-bottom: 15px;
}
.service .col p{
	line-height: 28px;

}
/* gallery section */
.gallery {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	z-index: 99;
	text-align: center;
}
.gallery .gallery-info{
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
	align-items: center;

}
.gallery-info .col{
	width: 30%;
	float: left;
	margin: 1%;
}

.gallery-info .col img{
	max-width: 100%;
}



/* contact section */

.contact {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	z-index: 99;
	text-align: center;
}
.contact .contact-info{
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
	justify-content: center;
	align-items: center;

}
.contact-info .textField{
width: 100%;
height: 50%;
border: 1px solid #fff;
box-sizing: border-box;
background-color: transparent;
padding: 15px 15px;
margin-bottom: 15px;
font-family: 'PT Sans Narrow', sans-serif;
color: #fff;
font-size: 16px;

}
.contact-info .messageField{

	height: 200px;
}

.contact .submitButton{
	background-color: #ffffff;
	color: #000000;
	font-size: 25px;
	font-style: inherit;
	cursor: pointer;
	pointer-events: stroke;
}
